<!DOCTYPE html>
<html>
  <head>
    <title>GAMEVIEWS</title>
     <%- include('modules/headlink.ejs') %>
    <link rel="stylesheet" href="/stylesheets/form.css" />

  </head>
  <body>
    <%- include('modules/header.ejs') %>

    <main class="tomorrow-regular">
      <section>
        <h1 class="text-center p-3 bg-dark bg-gradient text-white">Entra a tu cuenta</h1>
        <br>
        <div class="form-div bg-secondary container-fluid">
          <form 
            action="" 
            method="post" 
            class="text-black fs-5"
          >
            <div>
              <label for="" class="text-black">Nombre de usuario</label>
              <br>
              <input 
                type="text" 
                name="text"
              >      
              </div>
              <div>
              <label for="" class="pt-2">Contraseña</label>
              <br>
              <input 
                type="text" 
                name="password"
              >
              </div>
            <div class="text-center pt-3">
              <button class="btn btn-info">Acceder</button> 
              <a href="/" class="btn btn-info">Cancelar</a>
            </div>
          </form>
            </div>
      </section>
      

    
    </main>
    <%- include('modules/links.ejs') %>
    <%- include('modules/footer.ejs') %>
    
  </body>
</html>