.form-div {
  max-width: 30rem;  
  padding: 3rem;
  border-radius: 1rem;
  
  @media (width <= 700px) {
    width: fit-content;
  }

  form {    
    input, textarea, select {
      border: none;
      background-color: rgb(241, 241, 241);
      padding: 0.5rem;
      min-width: 100%;
      border-radius: 0.5rem;     
    }    
  }
  
  
}

section  {  
  .btn {
    font-size: 1.2rem;
  }
  
}